
<div class="col-md-4">
    
  <div class="card text-center"  style="width: 12rem;background-color: beige">
      <div style="width:100%; text-align:center">
        <img align="center" class="rounded-circle" style="border:5px solid black;" [src]="collegue.url" alt="Photo de "   height="100">
      </div>  
    <div class="card-block">
        <h4 class="card-title"> {{collegue.nom | uppercase }}</h4>
        <h4 class="card-title" [innerHTML]="collegue.score | scorePipe"></h4>
        
        
        <button type="button" class="btn btn-outline-primary" (click)="jaime()">J'aime</button>
        <button type="button" class="btn btn-outline-danger" (click)="jeDeteste()">Je déteste</button>
      </div>
   </div>
</div>